body{
  background-color:white;
}
.allBoxes{
  display:flex;
  justify-content: center;
 
}

.BlackBox{
  text-align:center;
  margin:10px;
  justify-content: center;
}

.firstBoxContent ,.secondBoxContent{
  width:250px;
  height:350px;
  border:5px solid black;
  display:flex;
  flex-wrap: wrap;
 align-content: start;
   
}
button{
  margin-top :20px;
  width:250px;
  font-size:20px;
  background-color:#cc99ff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor:pointer;
}
button:hover{
   background-color:#f2e6ff;
  color:#b366ff;
}
.childBox{
  
  margin:20px 20px 0px 20px;
  width:60px;
  height:60px;
  border:4px solid black;
  
}
.redBorder{
  border-color:red;
}

.grayBorder{
   border-color:gray;
}
.purpleBorder{
 border-color:#9900cc;
}


.brownBorder{
 border-color:#cc9900;
}

.yellowBorder{
   border-color:yellow;
}










